<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ride my way | Profile page</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
  </head>

  <body>

      <div class="container">
        <header class="main">
          <nav class="nav-bar">
            <div class="logo">
              <strong>Ride-My-Way</strong>
            </div>
            <div class="navigations">
              <div class="join"><a href="./index.html">Home</a></div>
              <div class="join"><a href="viewride.html">View Rides</a></div>
              <div class="join"><a href="offer_ride.html">Create Offer</a></div>
            </div>
            <a href="#" class="burgar-nav">
              <span class="menu_wake"></span>
            </a>
          </nav>

          <section class="list_rides display-tab">
            <div class="side_panel">
              <div class="top-panel"></div>
              <div class="nav">Profile</div>
              <div class="nav">Ride offers created</div>
              <div class="nav">Ride History (taken/given)</div>
            </div>
            <div class="main_panel">
              <div class="top-header"></div>
              <div class="detail">
                <div class="profile-image">
                  <img src="images/person4.jpg" alt="">
                </div>
                <p><strong>FirstName:</strong> Caitlin</p>
                <br>
                <p><strong>LastName:</strong> Snow</p>
                <br>
                <p><strong>Email Address:</strong> caitlin_snow@mymail.com</p>
                <br>
                <p><strong>Rides Taken:</strong> 23</p>
                <br>
                <p><strong>Rides Offered:</strong> 14</p>
              </div>
              <div class="ride_details">
                <table summary="List of rides taken ">
                  <caption>Rides Given</caption>
                  <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Starting point</th>
                    <th>Destination</th>
                    <th>Passengers</th>
                  </tr>
                  <tr>
                    <td>28/5/2018</td>
                    <td>8:00 am</td>
                    <td>Ojota</td>
                    <td>Mile 12</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>29/5/2018</td>
                    <td>5:00 pm</td>
                    <td>Yaba</td>
                    <td>Oshodi</td>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>30/5/2018</td>
                    <td>10:00 am</td>
                    <td>Oshodi</td>
                    <td>Mile 2</td>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>1/6/2018</td>
                    <td>10:00 am</td>
                    <td>Yaba</td>
                    <td>Mile 2</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>2/6/2018</td>
                    <td>10:00 am</td>
                    <td>Oshodi</td>
                    <td>Ilupeju</td>
                    <td>4</td>
                  </tr>
                </table>
                <table summary="List of Rides Given">
                    <caption>Rides Taken</caption>
                    <tr>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Starting point</th>
                      <th>Destination</th>
                      <th>Passengers</th>
                    </tr>
                    <tr>
                      <td>28/5/2018</td>
                      <td>8:00 am</td>
                      <td>Ojota</td>
                      <td>Mile 12</td>
                      <td>4</td>
                    </tr>
                    <tr>
                      <td>29/5/2018</td>
                      <td>5:00 pm</td>
                      <td>Yaba</td>
                      <td>Oshodi</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>30/5/2018</td>
                      <td>10:00 am</td>
                      <td>Oshodi</td>
                      <td>Mile 2</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>1/6/2018</td>
                      <td>10:00 am</td>
                      <td>Yaba</td>
                      <td>Mile 2</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td>2/6/2018</td>
                      <td>10:00 am</td>
                      <td>Oshodi</td>
                      <td>Ilupeju</td>
                      <td>4</td>
                    </tr>
                  </table>
              </div>
            </div>
          </section>
        </header>
      </div>

      <script src="../js/main.js"></script>
  </body>

</html>