<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A carpooling application that provides drivers with the ability to create ride offers and passengers to join available ride offers.">
    <meta name="keyword" content="Ride-My-Way Carpooling Drive Ride">
    <meta name="author" content="Michael Obasi">
    <title>Ride my way | Profile Page </title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link href="https://fonts.googleapis.com/css?family=Basic" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <header class="main">
        <nav class="nav-bar">
          <div class="logo">
            <strong>Ride My Way</strong>
          </div>
          <div class="navigations">
            <div class="join">
              <a href="../index.html">Home</a>
            </div>
            <div class="join">
              <a href="catalog.html">View Rides</a>
            </div>
            <div class="join">
              <a href="createoffer.html">Create Offer</a>
            </div>
            <div class="join">
              <a href="../index.html">Logout</a>
            </div>
          </div>
          <a href="#" class="burgar-nav">
            <span class="menu_wake"></span>
          </a>
        </nav>

        <section class="list_rides display-tab">
          <div class="side_panel">
            <div class="top-panel"></div>
            <div class="nav">Dashboard</div>
            <div class="nav">Ride Requests</div>
            <div class="nav">Rides Given</div>
            <div class="nav">Rides Taken</div>
          </div>
          <div class="main_panel">
            <div class="top-header">
              <div class="resize">
                <div class="top-panel"></div>
                <div class="nav">Profile</div>
                <div class="nav">Ride Requests</div>
                <div class="nav">Rides Given</div>
                <div class="nav">Rides Taken</div>
              </div>
            </div>
            <div class="detail">
              <div class="profile-image">
                <img src="../images/person4.jpg" alt="profile-image">
              </div>
              <p>
                <strong>FirstName:</strong> Caitlin</p>
              <br>
              <p>
                <strong>LastName:</strong> Snow</p>
              <br>
              <p>
                <strong>Email Address:</strong> caitlin_snow@mymail.com</p>
              <br>
              <p>
                <strong>Rides Taken:</strong> 5</p>
              <br>
              <p>
                <strong>Rides Offered:</strong> 5</p>
            </div>
            <div class="offer">
              <div class="ride">
                <strong>Location:</strong> Yaba
                <br>
                <strong>Destination:</strong> Ilupeju
                <br>
                <strong>Departure Time:</strong> Mon 22-Jun-2018
                <br>
                <div class="accept">
                  <h4>Passengers:</h4>
                  <div class="add">
                    <p> 1. Anjana Vakeal
                      <a href="#">Accept</a>
                      <a href="#">Reject</a>
                    </p>
                  </div>
                </div>
                <strong>Seats Available:</strong> 3
              </div>
              <div class="ride">
                <strong>Location:</strong> Yaba
                <br>
                <strong>Destination:</strong> Ilupeju
                <br>
                <strong>Departure Time:</strong> Mon 22-Jun-2018
                <br>
                <div class="accept">
                  <h4>Passengers:</h4>
                  <div class="add">
                    <p> 1. Anjana Vakeal
                      <a href="#">Accept</a>
                      <a href="#">Reject</a>
                    </p>
                  </div>
                </div>
                <strong>Seats Available:</strong> 3
              </div>
              <div class="ride">
                <strong>Location:</strong> Yaba
                <br>
                <strong>Destination:</strong> Ilupeju
                <br>
                <strong>Departure Time:</strong> Mon 22-Jun-2018
                <br>
                <div class="accept">
                  <h4>Passengers:</h4>
                  <div class="add">
                    <p> 1. Anjana Vakeal
                      <a href="#">Accept</a>
                      <a href="#">Reject</a>
                    </p>
                  </div>
                </div>
                <strong>Seats Available:</strong> 3
              </div>
              <div class="ride">
                <strong>Location:</strong> Yaba
                <br>
                <strong>Destination:</strong> Ilupeju
                <br>
                <strong>Departure Time:</strong> Mon 22-Jun-2018
                <br>
                <div class="accept">
                  <h4>Passengers:</h4>
                  <div class="add">
                    <p> 1. Anjana Vakeal
                      <a href="#">Accept</a>
                      <a href="#">Reject</a>
                    </p>
                  </div>
                </div>
                <strong>Seats Available:</strong> 3
              </div>
            </div>
            <div class="listings">
              <div class="taken">
                <h4>LIST OF RIDES GIVEN</h4>
                <ul class="ride_data">
                  <li class="ridelist date">
                    <h4>Date</h4>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                  </li>
                  <li class="ridelist time">
                    <h4>Time</h4>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                  </li>
                  <li class="ridelist start">
                    <h4>Start</h4>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                  </li>
                  <li class="ridelist stop">
                    <h4>Stop</h4>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                  </li>
                  <li class="ridelist passengers">
                    <h4>Passengers</h4>
                    <h5>4</h5>
                    <h5>4</h5>
                    <h5>4</h5>
                    <h5>4</h5>
                  </li>
                </ul>
              </div>
            </div>
            <div class="listings2">
              <div class="taken">
                <h4>LIST OF RIDES TAKEN</h4>
                <ul class="ride_data">
                  <li class="ridelist date">
                    <h4>Date</h4>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                    <h5>2/6/2018</h5>
                  </li>
                  <li class="ridelist time">
                    <h4>Time</h4>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                    <h5>5:00 am</h5>
                  </li>
                  <li class="ridelist start">
                    <h4>Start</h4>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                    <h5>Oshodi</h5>
                  </li>
                  <li class="ridelist stop">
                    <h4>Stop</h4>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                    <h5>Ilupeju</h5>
                  </li>
                  <li class="ridelist passengers">
                    <h4>Passengers</h4>
                    <h5>4</h5>
                    <h5>4</h5>
                    <h5>4</h5>
                    <h5>4</h5>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </header>
    </div>

    <script src="../js/main.js"></script>
  </body>

</html>