<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="A carpooling application that provides drivers with the ability to create ride offers and passengers to join available ride offers.">
    <meta name="keyword" content="Ride-My-Way Carpooling Drive Ride">
    <meta name="author" content="Michael Obasi">
    <title>Ride my way | Carpooling App</title>
    <link rel="stylesheet" href="stylesheet/style.css">
  </head>

  <body>
    <div class="container">

      <!-- header -->

      <header class="main">
        <nav class="nav-bar">
          <div class="logo">
            <strong>Ride-My-Way</strong>
          </div>
          <div class="navigations">
            <div class="join"><a href="index.html" class="active">Home</a></div>
            <div class="join"><a href="">Offer ride</a></div>
            <div class="join"><a href="login.html">Login</a></div>
            <div class="join"><a href="signup.html">Signup</a></div>
          </div>
        </nav>

        <main class="central">
          <h1>The daily commute just got better</h1>
          <p>Nigeria's largest network of corperate carpoolers are    now just a click away</p>
        </main>
        <div class="message">
          <h3>Carpooling takes the trek out of the journey</h3>
          <input type="text" name="from" placeholder="Leaving from">
          <input type="text" name="to" placeholder="Destination">
          <input type="date" name="date" id="search" value="2018-06-25">
          <input type="button" value="Ride Offers" id="button">
        </div>
      </header>

    </div>
  </body>
  
</html>